.post-item {
    margin: 10px 0%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    width: 750px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: content;
    align-self: center;
    order: 0;
    width: 50%;
  }

body {
    background: rgb(10,122,93);
    background: linear-gradient(135deg, rgba(10,122,93,1) 0%, rgba(194,56,82,1) 60%, rgba(227,51,56,1) 100%);
    color: white;
}

.box {
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px 0%;
    padding: 10px;
}

input, button {
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px 0%;
    padding: 10px;
}

img {
    width: 200px;
    height: 200x;
}