.post-item {
    margin: 10px 0%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    width: 750px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: content;
    align-self: center;
    order: 0;
    width: 50%;
  }

  body {

    color: #ffffff;
    background-image: url(images/background2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.btn-primary {
    background-color: #b3cdf3;
    border-color: #79aadf;
}
.btn-danger {
    background-color: #0fb300;
}
.post-item {
    background-color: #916c3863;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.post-item li {
    font-weight: bold;
}

.box {
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px 0%;
    padding: 10px;
}

input, button {
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px 0%;
    padding: 10px;
}

img {
    width: 200px;
    height: 200x;
}